html, body {
 background-color:#720;
 font:10pt "x-large";
 color:#000000;
}
div#header {
 text-align:center;
}
h1 {
 font-size: 32px;
 line-height: 48px;
}
div#mainWrapper {
 text-align:center;
}
div#footer {
 margin-top:40px;
 text-align:center;
}
div.innerWrapper {
 line-height: 150%;
 width:80%;
 margin-left: auto;
 margin-right: auto;
}
div.innerWrapper div.item {
 margin-top:20px;
}
div.innerWrapper div.item h4 {
 border-bottom:3px double #333;
 margin:0;
 text-align:left;
}
div.innerWrapper div.item div.content {
 background-color:#444;
 border-width:0 1px 1px 1px;
 border-style:solid;
 border-color:#555;
 padding:10px;
 text-align:left;
}
